body {
    background-color: rgb(247, 241, 240);
    font-size: 20px;
    /* Cambie el color de fondo y el tamaño de la letra */
}
h1, h2 {
 color: rgb(143, 39, 26);
 /* Cambie el color de la letra de los titulos */
}
#datos {
    border: 1px solid rgb(8, 8, 8);
    line-height: 1.5;
    /* Agrege un borde y defini un interlineado */
}
.intereses {
    color: #68199c;
}

footer {
    background-color: #772020;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
}

