body {
    font-family: Arial, Helvetica, sans-serif; /* Fuente de texto*/
    background-color: #0034c252; /* color*/
    font-size: 15px; /* Tamaño de fuente*/
    line-height: 1.5; /* Altura de la linea de texto. Para controlar el espacio entre las lienas del texto*/
    box-sizing: border-box; /*Afecta al modelo de caja del elemento*/
}
.caja {
    width: 620px; /* Ancho del elemento.*/
    height: auto; /* Altura del elemento. Al utilizarla en auto, el elemento se ajustará automáticamente en altura para adaptarse a su contenido.*/
    margin: 100px auto; /*Márgenes exteriores del elemento*/
    background-color: #eee; 
}
.base {
    width: 100%;
    overflow: hidden; /*Controla como se maneja el contenido que excede el espacio disponible en el elemento. hidden lo oculta.*/
    display: block; /*Este estilo controla cómo se muestra el elemento en el flujo del documento. block establece que el elemento se muestre como un bloque de nivel. Los elementos de bloque ocupan todo el ancho disponible en su contenedor y comienzan en una nueva línea. Esto contrasta con los elementos en línea que solo ocupan el espacio necesario y no inician una nueva línea.*/
    float: none; /*El estilo float controla cómo se alinean elementos a la izquierda o derecha del flujo normal del documento. none desactiva cualquier flotación que pueda haber sido aplicada previamente*/
}
.base h2 {
    font-size: 26px;
    text-align: center;
    font-family: sans-serif; /*Fuente de texto*/
    font-weight: normal; /*Este estilo controla el grosor (peso) de la fuente del contenido.*/
    margin-top: 0px; /*el margen superior del elemento */
    box-shadow: 0px 2px #bababa; /*Este estilo aplica una sombra alrededor del elemento. */
    background: white;
    font-size: 34px;
    color: navy;
}

.titulo {
    font-size: 20px;
    text-align: center; /* Alineacion del texto*/
    font-family: sans-serif;
    font-weight: normal;
    line-height: 0.5; 
    letter-spacing: 0.5px; /* Este estilo establece el espaciado entre caracteres (letras) dentro del contenido del elemento*/
    word-spacing: 2.7px; /*: Este estilo establece el espaciado entre palabras dentro del contenido del elemento. */
    color: #0e29c0;
}
input[type="text"] {
    width: 560px;
    text-align: center;
    margin: auto;
    min-height: 20px; 
    border: 2px solid #000000;
    padding: 12px; /* Esta propiedad establece el espacio de relleno alrededor del contenido dentro de un elemento. En este caso, se está aplicando un espacio de relleno de 12 píxeles en todas las direcciones (arriba, abajo, izquierda y derecha) alrededor del contenido del elemento. El contenido se separará del borde del elemento por este espacio de relleno.*/
    background-color: #f7f7f7;
    border-radius: 5px; /* Esta propiedad establece el radio de las esquinas del borde de un elemento, lo que crea un efecto de esquinas redondeadas*/
    color: #312ee6;
    font-size: 17px;
    margin: 10px; /* Le agrego margen*/
}
input[type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid rgb(0, 60, 255);

}

#res { /*copié el formato usado en la calculadora*/
    width: 560px;
    text-align: center;
    margin: 10px; 
    min-height: 20px;
    border: 2px solid #000000;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 5px;
    color: #312ee6;
    font-size: 17px;
}

#reiniciar {
    width: 200px;
    margin-left: 35%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #002f6d;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
}
.contador{
    font-weight: bold;
    margin-left: 45%;
    margin-top: 10px;
}

